/***********************Grid***********************/
.grid-wrapper {
	min-width: 320px;
	max-width: 1170px;
	margin: 10px auto;
	text-align: center;
}
.minImg {
	display: inline-block;
	margin: 5px;
	text-decoration: none;
}
.minImg img{     
	display: block;  
	width: 320px;
	max-width: 100%;
	height: 180px;
}
/***********************LightBox***********************/
.lightbox-wrapper.active {
	display: block;
}
.lightbox-wrapper {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}
.overlay {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;   
	background-color: rgba(241,210,194, .8); 
}
.bigImgWrapper {    
	position: relative;
    z-index: 2;
	display: inline-block;
	margin: 80px 20px;
	min-width: 200px;
	max-width: 1000px;
	min-height: 200px;    
	background: #fff;
	box-shadow: 0px 0px 60px 1px rgba(0,0,0,0.56);
	border: 5px #fff;
	border-radius: 5px;
	text-align: center;
	opacity: 0.5;
	transform: scale(0.5);
	transition: all 1s ease;
}
.bigImgWrapper.active {
	opacity: 1;
	transform: scale(1);
}
.bigImgWrapper img {
	display: block;
	max-width: 100%;
}
/*elements*/
img.loading {
	display: inline-block;
	width: 20px;
	height: auto;
	padding-top: calc(50% - 10px);
}
nav {
	position: relative;
    z-index: 2;
}
.close {
	position: absolute;
	top: -10px;
	right: -10px;
	background: #fff;
	padding: 5px 10px;
	border-radius: 50%;
	cursor: pointer;
}
.next,
.prev {
	display: inline-block;
	background: #e2e2e2;
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	width: 70px;
	cursor: pointer;
}