.wrapper {
	min-width: 320px;
	max-width: 1170px;
	margin: 10px auto;
	text-align: center;
}
.minImg {
	display: inline-block;
    margin: 5px;
	text-decoration: none;
}
.minImg img{     
	display: block;  
	width: 320px;
    max-width: 100%;
    height: 180px;
}